<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>缴费对账单下载</title>
    <style type="text/css">
        div{
            margin: auto;
        }

        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <br><br><br><br><br><br>
    <div>
        <h2>缴费对账单下载</h2>
        <br>
        <h3><span color="red">下载失败！</span></h3>
        <br>
        <h6>可能的原因1：指定日期的文件可能不存在，仅支持27个自然日内的文件</h6>
        <h6>可能的原因2：填写的商户号目前只支持特定的商户</h6>
        <h6>可能的原因3：系统内部错误</h6>
        <h6>解决方案：请核对信息或者联系管理员</h6>
    </div>
</body>
</html>