<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>授权缴费单笔扣款接口</title>
    <style type="text/css">
        table{
            margin: auto;
        }
        table td{
            /* width:160px; */
            height:30px;
            text-align: left;
        }
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<br><br><br><br><br><br>
    <h2>授权缴费单笔扣款接口</h2>
    <h3>接口:{$url}</h3>
    <h3>交易码:{$transCode}</h3><br>
    <form action='agent_pay\pay'  method="post" >
        <input type="hidden" name="trVersion" value="${param.trVersion }">
        <table>
            <tr>
                <td>缴费项目编号(epayCode)：</td>
                <td><input type="text" name="epayCode"/><font color="red">*必输</font></td>
            </tr>
            <tr>
                <td>商户编号(merchantId)：</td>
                <td><input type="text" name="merchantId"/><font color="red">*必输</font></td>
            </tr>
            <tr>
                <td>输入要素1(input1)：</td>
                <td><input type="text" name="input1"/><font color="red">*必输</font></td>
            </tr>
            <tr>
                <td>输入要素2(input2)：</td>
                <td><input type="text" name="input2"/></td>
            </tr>
            <tr>
                <td>输入要素3(input3)：</td>
                <td><input type="text" name="input3"/></td>
            </tr>
            <tr>
                <td>输入要素4(input4)：</td>
                <td><input type="text" name="input4"/></td>
            </tr>
            <tr>
                <td>输入要素5(input5)：</td>
                <td><input type="text" name="input5"/></td>
            </tr>
            <tr>
                <td>账单编号(billNo)：</td>
                <td><input type="text" name="billNo"/><font color="red">*必输</font></td>
            </tr>
            <tr>
                <td>签约编号(agentSignNo)：</td>
                <td><input type="text" name="agentSignNo"/></td>
            </tr>
            <tr>
                <td>缴费金额(amount)：</td>
                <td><input type="text" name="amount"/><font color="red">*必输</font></td>
            </tr>
            <tr>
                <td>收款方账号(receiveAccount)：</td>
                <td><input type="text" name="receiveAccount"/></td>
            </tr>
            <tr>
                <td>分账交易模板号(splitAccTemplate)：</td>
                <td><input type="text" name="splitAccTemplate"/></td>
            </tr>
        </table>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>